/* ======================================
              styles defaut
====================================== */
@font-face {
  font-family: 'proximaLight';
  src: url(../font/proxima-nova-light.otf);
}

@font-face {
  font-family: 'proximaBold';
  src: url(../font/proxima-nova-bold.otf);
}

@font-face {
  font-family: 'proximaBlack';
  src: url(../font/proxima-nova-black.otf);
}

body{
  overflow-x: hidden!important;
}

.fixed-menu{
    position: fixed!important;
    width: 100%!important;
    z-index: 99999;
    background-color: $white!important;
}

@media(min-width: $screen-lg-min){
    .fixed-menu{
      background-color: transparent!important;
  }
}

a{
  text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6{
  color: $gray-dark;
}

input, button, textarea{
  outline: none;
  box-shadow: 0;
}

p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.bold-title{
  font-family: 'proximaBold';
}

.modal-dialog{
  .modal-content{
    background-color: transparent;
    border: 0;
    @include border-radius(0);
    .modal-body{
      padding: 0;
    }

    .modal-footer{
      padding: 0; 
      border-top: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.bar{
  width: 70%;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.493);
  margin: 40px 0;
}


/* ======================================
              load page
====================================== */
#preloader{
  background-image: url(../images/load.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;

  #loading{
    position: fixed;
    bottom: -60px;
    right: 0;
    color: #ffffff61;
    font-size: 120px;
    font-family: 'proximaBold';
  }
}

.cssload-dots {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;

  &:before {
    content: "";
    width: 39px;
    height: 39px;
    border-radius: 56px;
    background: rgb(134, 230, 51);
    position: absolute;
    left: 50%;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    margin-left: -19.5px;
    margin-top: -19.5px;
  }

  &:nth-child(5):before {
    z-index: 100;
    width: 51.5px;
    height: 51.5px;
    margin-left: -25.75px;
    margin-top: -25.75px;
    animation: cssload-dot-colors 3.4s ease infinite;
    -o-animation: cssload-dot-colors 3.4s ease infinite;
    -ms-animation: cssload-dot-colors 3.4s ease infinite;
    -webkit-animation: cssload-dot-colors 3.4s ease infinite;
    -moz-animation: cssload-dot-colors 3.4s ease infinite;
  }

  &:nth-child(1) {
    animation: cssload-dot-rotate-1 3.4s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 3.4s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 3.4s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 3.4s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 3.4s 0s linear infinite;

    &:before {
      background-color: rgb(11, 212, 101);
      animation: cssload-dot-move 3.4s 0s ease infinite;
      -o-animation: cssload-dot-move 3.4s 0s ease infinite;
      -ms-animation: cssload-dot-move 3.4s 0s ease infinite;
      -webkit-animation: cssload-dot-move 3.4s 0s ease infinite;
      -moz-animation: cssload-dot-move 3.4s 0s ease infinite;
    }
  }

  &:nth-child(2) {
    animation: cssload-dot-rotate-2 3.4s 0.85s linear infinite;
    -o-animation: cssload-dot-rotate-2 3.4s 0.85s linear infinite;
    -ms-animation: cssload-dot-rotate-2 3.4s 0.85s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 3.4s 0.85s linear infinite;
    -moz-animation: cssload-dot-rotate-2 3.4s 0.85s linear infinite;

    &:before {
      background-color: rgb(34, 240, 116);
      animation: cssload-dot-move 3.4s 0.85s ease infinite;
      -o-animation: cssload-dot-move 3.4s 0.85s ease infinite;
      -ms-animation: cssload-dot-move 3.4s 0.85s ease infinite;
      -webkit-animation: cssload-dot-move 3.4s 0.85s ease infinite;
      -moz-animation: cssload-dot-move 3.4s 0.85s ease infinite;
    }
  }

  &:nth-child(3) {
    animation: cssload-dot-rotate-3 3.4s 1.7s linear infinite;
    -o-animation: cssload-dot-rotate-3 3.4s 1.7s linear infinite;
    -ms-animation: cssload-dot-rotate-3 3.4s 1.7s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 3.4s 1.7s linear infinite;
    -moz-animation: cssload-dot-rotate-3 3.4s 1.7s linear infinite;

    &:before {
      background-color: rgb(4, 214, 99);
      animation: cssload-dot-move 3.4s 1.7s ease infinite;
      -o-animation: cssload-dot-move 3.4s 1.7s ease infinite;
      -ms-animation: cssload-dot-move 3.4s 1.7s ease infinite;
      -webkit-animation: cssload-dot-move 3.4s 1.7s ease infinite;
      -moz-animation: cssload-dot-move 3.4s 1.7s ease infinite;
    }
  }

  &:nth-child(4) {
    animation: cssload-dot-rotate-4 3.4s 2.55s linear infinite;
    -o-animation: cssload-dot-rotate-4 3.4s 2.55s linear infinite;
    -ms-animation: cssload-dot-rotate-4 3.4s 2.55s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 3.4s 2.55s linear infinite;
    -moz-animation: cssload-dot-rotate-4 3.4s 2.55s linear infinite;

    &:before {
      background-color: rgb(0, 240, 88);
      animation: cssload-dot-move 3.4s 2.55s ease infinite;
      -o-animation: cssload-dot-move 3.4s 2.55s ease infinite;
      -ms-animation: cssload-dot-move 3.4s 2.55s ease infinite;
      -webkit-animation: cssload-dot-move 3.4s 2.55s ease infinite;
      -moz-animation: cssload-dot-move 3.4s 2.55s ease infinite;
    }
  }
}

@keyframes cssload-dot-move {
  0% {
    transform: translateY(0);
  }

  18%, 22% {
    transform: translateY(-79px);
  }

  40%, 100% {
    transform: translateY(0);
  }
}

@-o-keyframes cssload-dot-move {
  0% {
    -o-transform: translateY(0);
  }

  18%, 22% {
    -o-transform: translateY(-79px);
  }

  40%, 100% {
    -o-transform: translateY(0);
  }
}

@-ms-keyframes cssload-dot-move {
  0% {
    -ms-transform: translateY(0);
  }

  18%, 22% {
    -ms-transform: translateY(-79px);
  }

  40%, 100% {
    -ms-transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }

  18%, 22% {
    -webkit-transform: translateY(-79px);
  }

  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cssload-dot-move {
  0% {
    -moz-transform: translateY(0);
  }

  18%, 22% {
    -moz-transform: translateY(-79px);
  }

  40%, 100% {
    -moz-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: rgb(36, 199, 63);
  }

  25% {
    background-color: rgb(30, 184, 133);
  }

  50% {
    background-color: rgb(91, 240, 190);
  }

  75% {
    background-color: rgb(4, 189, 93);
  }

  100% {
    background-color: rgb(120, 230, 193);
  }
}

@-o-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(36, 199, 63);
  }

  25% {
    background-color: rgb(30, 184, 133);
  }

  50% {
    background-color: rgb(91, 240, 190);
  }

  75% {
    background-color: rgb(4, 189, 93);
  }

  100% {
    background-color: rgb(120, 230, 193);
  }
}

@-ms-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(36, 199, 63);
  }

  25% {
    background-color: rgb(30, 184, 133);
  }

  50% {
    background-color: rgb(91, 240, 190);
  }

  75% {
    background-color: rgb(4, 189, 93);
  }

  100% {
    background-color: rgb(120, 230, 193);
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(36, 199, 63);
  }

  25% {
    background-color: rgb(30, 184, 133);
  }

  50% {
    background-color: rgb(91, 240, 190);
  }

  75% {
    background-color: rgb(4, 189, 93);
  }

  100% {
    background-color: rgb(120, 230, 193);
  }
}

@-moz-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(36, 199, 63);
  }

  25% {
    background-color: rgb(30, 184, 133);
  }

  50% {
    background-color: rgb(91, 240, 190);
  }

  75% {
    background-color: rgb(4, 189, 93);
  }

  100% {
    background-color: rgb(120, 230, 193);
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-dot-rotate-1 {
  0% {
    -o-transform: rotate(-105deg);
  }

  100% {
    -o-transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-dot-rotate-1 {
  0% {
    -ms-transform: rotate(-105deg);
  }

  100% {
    -ms-transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-dot-rotate-1 {
  0% {
    -moz-transform: rotate(-105deg);
  }

  100% {
    -moz-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@-o-keyframes cssload-dot-rotate-2 {
  0% {
    -o-transform: rotate(165deg);
  }

  100% {
    -o-transform: rotate(540deg);
  }
}

@-ms-keyframes cssload-dot-rotate-2 {
  0% {
    -ms-transform: rotate(165deg);
  }

  100% {
    -ms-transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }

  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes cssload-dot-rotate-2 {
  0% {
    -moz-transform: rotate(165deg);
  }

  100% {
    -moz-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }

  100% {
    transform: rotate(810deg);
  }
}

@-o-keyframes cssload-dot-rotate-3 {
  0% {
    -o-transform: rotate(435deg);
  }

  100% {
    -o-transform: rotate(810deg);
  }
}

@-ms-keyframes cssload-dot-rotate-3 {
  0% {
    -ms-transform: rotate(435deg);
  }

  100% {
    -ms-transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }

  100% {
    -webkit-transform: rotate(810deg);
  }
}

@-moz-keyframes cssload-dot-rotate-3 {
  0% {
    -moz-transform: rotate(435deg);
  }

  100% {
    -moz-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes cssload-dot-rotate-4 {
  0% {
    -o-transform: rotate(705deg);
  }

  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes cssload-dot-rotate-4 {
  0% {
    -ms-transform: rotate(705deg);
  }

  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }

  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes cssload-dot-rotate-4 {
  0% {
    -moz-transform: rotate(705deg);
  }

  100% {
    -moz-transform: rotate(1080deg);
  }
}

/* @extend display-flex; */
display-flex {
  display: flex;
  display: -webkit-flex;
}
/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ======================================
              Buttons defaut
====================================== */
.forgot{
  color: $gray-dark;
  font-size: 13px;
  @include transition(.5s);
  &:hover{
    color: $green-1;
  }
 /*  @media(max-width: $screen-xs-max){
    white-space: nowrap;
    float: right;
  } */
}

#button-top{
  cursor: pointer;
  position: fixed;
  right: 31px;
  bottom: 20px;
  background-color: $green-1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 99;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  line-height: 50px;
  color: $white;
}

.bounce-effect {
	-moz-animation: bounce-effect 3s infinite;
	-webkit-animation: bounce-effect 3s infinite;
	animation: bounce-effect 3s infinite;
}
@-moz-keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-60px);
    transform: translateY(-3px);
  }
  60% {
    -moz-transform: translateY(-3px);
    transform: translateY(-7px);
  }
}
@-webkit-keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
@keyframes bounce-effect {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

.cta {
  position: relative;
  margin: auto;
  padding: 15px 22px;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background-color: $green-1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-size: 14px;
    font-family: 'proximaBold';
    vertical-align: middle;
    color: $white;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
  background-color: $green-1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    svg {
      transform: translateX(0);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}

.cta-dark {
  position: relative;
  margin: auto;
  padding: 15px 22px;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background-color: $green-1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-size: 14px;
    font-family: 'proximaBold';
    vertical-align: middle;
    color: $gray-dark;
  }


  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $gray-dark;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
  background-color: $green-1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    svg {
      transform: translateX(0);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}


.cta-2{
  @extend .cta;
  &:before {
    background-image: none;
    background-color: $green-1;
  }

  &:hover {
    &:before {
      background-image: none;
      background-color: $green-1;
    }
  }
}
/* ======================================
          menu show hide scroll
====================================== */
@media(max-width: $screen-xs-max){
  .action-menu{
    display: none!important;
  }
}
.contact-fixed-btn{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 0px;
  background-color: $green-dark;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 31px;
  top: 13px;
  @include transition(.5s)
}



.contact-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-color: $green-1;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 13px;
  @include transition(.5s);
  
}

.register-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-image: url(../images/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  fill: $white;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 62px;
  @include transition(.5s);
  
}

.lang-fixed-btn{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 0px;
  background-color: $white;
  text-align: center;
  color: $gray-dark;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 31px;
  top: 13px;
  @include transition(.5s)
}

.lang-fixed{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 50px;
  height: 50px;
  background-color: $white;
  text-align: center;
  color: $gray-dark;
  line-height: 50px;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 1;
  right: 31px;
  top: 112px;
  @include transition(.5s)
}

.btn-contact-toggle{
  position: fixed;
  opacity: 1;
  height: 50px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  transition: height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  transition: transform .5s cubic-bezier(.5,0,0,1),height .5s cubic-bezier(.5,0,0,1);
  transition: transform .5s cubic-bezier(.5,0,0,1),height .5s cubic-bezier(.5,0,0,1),-webkit-transform .5s cubic-bezier(.5,0,0,1);
  
}

.btn-lang-toggle{
  @extend .btn-contact-toggle;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

@media(max-width: $screen-xs-max){
  .btn-contact-toggle{
    -webkit-transform: translateY(58px);
    transform: translateY(58px);
  }

  .btn-lang-toggle{
    -webkit-transform: translateY(109px);
  transform: translateY(109px);
  }
}

#dLabel {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 0;
  color: $gray-dark;
  position: relative;
}

.caret {
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
}

.dropdown-menu {
  width: 50px;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown {
  button {
    &:hover, &:focus {
      border: none;
      outline: 0;
    }
  }

  &.open {
    button#dLabel {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
      border: solid 1px #666;
      border-bottom: none;
    }

    ul {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
      border: solid 1px #666;
      border-top: none;
      height: 200px;
      overflow-y: scroll;
    }
  }
}

.dropdown-menu{
  background-clip: border-box;
  min-width: 50px;
  border-radius: 0;
  li {
    line-height: 1.5;
    color: $gray-dark;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 15px;
    border-top: solid 1px #f3f3f3;
    
  
    &:hover {
      background-color: #ccc;
    }
  }
}


/*end menu show hide scroll*/



.navbar{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navbar-dark .navbar-nav .nav-link{
    color: $white;
    fill: $white;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color: $white;
    fill: $white;
}

.nav-item{
    .lang{
        color: rgba(255, 255, 255, 0.589)!important;
        text-transform: uppercase;
    }
    .active{
          color: $white!important;
    }
}

.menu {
    line-height: 1;
}
  
  .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu__item {
    display: block;
  }
  
  .menu__link {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: $white;
  
    &:hover, &:focus {
      outline: none;
    }
  }
  
  .menu--prospero {
    .menu__link {
      position: relative;
      display: block;
      margin: -22px .7em;
      //margin: 0 1.5em;
      padding: 0.75em 0;
      text-align: center;
      color: $white!important;
      transition: color 0.3s;
  
      &:hover, &:focus {
        color: $white;
      }
    }
  
    .menu__item--current .menu__link {
      color: $white;
    }
  
    .menu__link::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 70%;
      height: 3px;
      background: $white;
      transform: scale3d(0, 1, 1);
      transition: transform 0.1s;
    }
  
    .menu__item--current .menu__link::before {
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.3s;
    }
  }

  

  /*keyframe-menu*/

  .menu-mobile {
    width: 50px;
    height: 50px;
    transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
    cursor: pointer;
    background-color: $green-1;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    position: relative;
    top: -4px;
    @include box-shadow(0px, 0px, 18px, rgba(0, 0, 0, 0.116));
  }
  
  .bar-menu {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
    background: #fff;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
  }

  @media(max-width: $screen-xs-max){
    .menu-mobile {
      position: fixed;
      top: 20px;
      right: 31px;
    }
  }
  
  .menu-mobile {
    &:hover {
      /* transition-delay: 100ms;
      transform: scale(1.1); */
  
      .bar-menu {
        &:nth-child(3):before {
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #F26451;
        }
  
        border: 1.5px solid #fff;
        height: 12px;
        border-radius: 50%;
        //margin-left: 0px;
        margin-top: 19px;
        animation: atom 300ms linear 1;
        width: 35px;
        top: 0px;
        background: transparent;
      }
    }
  
    &:focus {
      outline: 0px;
    }
  }
  
  .bar-menu {
    &:nth-child(1) {
      top: 16px;
    }
  
    &:nth-child(2) {
      top: 24px;
    }
  
    &:nth-child(3) {
      top: 32px; 
  
      &:before {
        opacity: 0;
        animation: ball 1.5s linear infinite;
        content: '';
        border: 3px solid #fff;
        display: block;
        position: relative;
        top: 0.25px;
      }
    }
  }
  
  .menu-mobile {
    &:hover .bar-menu {
      &:nth-child(1) {
        transform: rotate(-33deg);
      }
  
      &:nth-child(2) {
        transform: rotate(90deg);
      }
  
      &:nth-child(3) {
        transform: rotate(33deg);
  
        &:before {
          opacity: 1;
          transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
        }
      }
    }
  
    &:active {
      &:hover .bar-menu:nth-child(3):before {
        opacity: 0;
        transition: all 200ms;
      }
  
      .bar-menu {
        &:nth-child(3):before {
          opacity: 0;
          transition: all 200ms;
        }
  
        &:nth-child(2) {
          opacity: 0;
          transition: all 200ms;
          width: 0px;
        }
  
        border: 1.5px solid #fff;
        height: 0px;
        border-radius: 0%;
        margin-left: -1px;
        margin-top: 6px;
        animation: division 300ms linear 1;
        width: 25px;
        top: 0px;
  
        &:nth-child(3) {
          transform: rotate(45deg);
        }
  
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  
  @keyframes atom {
    0% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes division {
    0% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes ball {
    0% {
      left: -20%;
      top: 10%;
    }
  
    10% {
      left: 10%;
      top: -35%;
    }
  
    25% {
      left: 45%;
      top: -50%;
    }
  
    40% {
      left: 80%;
      top: -20%;
    }
  
    50% {
      left: 98%;
      top: 18%;
    }
  
    60% {
      left: 80%;
      top: 50%;
    }
  
    75% {
      left: 45%;
      top: 80%;
    }
  
    90% {
      left: 0%;
      top: 60%;
    }
  
    100% {
      left: -20%;
      top: 10%;
    }
  }