.main-content .slideshow {
  &::before {
    background-color: #fff;
    -webkit-animation: home_hero_scroll_line 2s cubic-bezier(0.5, 0, 0, 1) infinite;
    animation: home_hero_scroll_line 2s cubic-bezier(0.5, 0, 0, 1) infinite;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    z-index: 99999999;
  }

  &::after {
    background-color: $green-dark;
    -webkit-animation: home_hero_scroll_line 2s cubic-bezier(0.5, 0, 0, 1) infinite;
    animation: home_hero_scroll_line 2s cubic-bezier(0.5, 0, 0, 1) infinite;
    z-index: 99999999;
    content: '';
    width: 1px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    pointer-events: none;
    -webkit-clip-path: polygon(0 -150%, 100% -150%, 100% 0, 0 0);
    clip-path: polygon(0 -150%, 100% -150%, 100% 0, 0 0);
  }

  &::before {
    content: '';
    width: 1px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    pointer-events: none;
    -webkit-clip-path: polygon(0 -150%, 100% -150%, 100% 0, 0 0);
    clip-path: polygon(0 -150%, 100% -150%, 100% 0, 0 0);
  }

  @media(max-width: $screen-xs-max){
    &::before {
      display: none;
    }
  
    &::after {
      display: none;
    }
  
    &::before {
      display: none;
    }
  }
}

@keyframes home_hero_scroll_line {
  0% {
    clip-path: polygon(0 -150%, 100% -150%, 100% 0, 0 0);
  }

  80%,
    100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 350%, 0 350%);
  }
}

.item-hints {
  .-one-hint{
    position: absolute;
    top: 32%;
    left: 45%;
  }

  .-two-hint{
    position: absolute;
    top: 26%;
    left: 64%;

  }

  .-three-hint{
    position: absolute;
    bottom: 22%;
    left: 52%;
  }

  .-four-hint{
    position: absolute;
    bottom: 35%;
    right: 14%;
  }

  .hint {
    width: 60px;
    height: 60px;

    &::before {
      background-color: #fff;
      width: 8px;
      height: 8px;
      z-index: 2;
      -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &::after {
      /* //green glow */
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 2px;
      height: 2px;
      z-index: 1;
      -webkit-box-shadow: 0 0 50px 30px rgba(0, 181, 126, 0.3);
      box-shadow: 0 0 50px 30px rgba(0, 181, 126, 0.3);
      -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
      animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
    }

     /** @pre-defined: Positions. */
     &[data-position="1"] {
      /* top: 0;
      left: 0; */

      .hint-content {
        top: 85px;
        left: 50%;
        margin-left: 56px;

        &::before,
        &::after {
          top: 0;
          left: 0;
        }

        &::after {
          transform: rotate(225deg);
          transform-origin: 0 50%;
        }
      }
    }

    &[data-position="2"] {
      /* top: 0;
      right: 0; */

      .hint-content {
        top: 85px;
        left: 50%;
        margin-left: -205px;
        transform: translateX(-50%);

        &::before,
        &::after {
          top: 0;
          right: 0;
        }

        &::after {
          transform: rotate(-225deg);
          transform-origin: 100% 50%;
        }
      }
    }

    &[data-position="3"] {
     /*  right: 0;
      bottom: 0; */

      .hint-content {
        bottom: 85px;
        left: 50%;
        margin-left: -205px;
        transform: translateX(-50%);

        &::before,
        &::after {
          right: 0;
          bottom: 0;
        }

        &::after {
          transform-origin: 100% 50%;
          transform: rotate(225deg);
        }
      }
    }

    &[data-position="4"] {
      /* bottom: -100px;
      left: 0; */

      .hint-content {
        bottom: 85px;
        left: 50%;
        margin-left: 56px;

        &::before,
        &::after {
          bottom: 0;
          left: 0;
        }

        &::after {
          transform-origin: 0 50%;
          transform: rotate(-225deg);
        }
      }
    }
  }

  .hint-dot {
    z-index: 3;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    -webkit-animation: home_hero_item_hints_border 2s linear infinite;
    animation: home_hero_item_hints_border 2s linear infinite;
    margin: auto;
  }

  .hint-radius {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,transform;
    transition-property: background-color,opacity,visibility,transform,-webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
    transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
  }

  .hint {
    &:hover .hint-radius {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    &[data-position="1"] .hint-content {
      top: 85px;
      left: 50%;
      margin-left: 56px;
    }
  }

  .hint-content {
    color: #fff;
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
    p{
      font-family: 'proximaLight';
    }
  }

  .hint:hover .hint-content {
    color: #fff;
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 1;
    visibility: visible !important;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
    text-shadow: 1px 1px 11px #00000094;
  }

  .hint-content::before {
    width: 0px;
    bottom: 0;
    /* left: 0; */
    content: '';
    background-color: #fff;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }

  .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.4s;
  }

  .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 0;
    /* left: 0; */
    width: 80px;
    content: '';
    background-color: #fff;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .hint {
    &:hover .hint-content::after {
      opacity: 1;
      visibility: visible;
    }

    &[data-position="4"] .hint-content {
      bottom: 85px;
      left: 50%;
      margin-left: 56px;
    }
  }

  @media screen and (min-width: 1000px)and (max-width: 1024px) {
    .-one-hint{
      position: absolute;
      top: 32%;
      left: 38%;
    }
  
    .-two-hint{
      position: absolute;
      top: 26%;
      left: 57%;
  
    }
  
    .-three-hint{
      position: absolute;
      bottom: 22%;
      left: 52%;
    }
  
    .-four-hint{
      position: absolute;
      bottom: 35%;
      right: 14%;
    }
  
  }
}

@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }

  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(0, 181, 126, 0);
    box-shadow: 0 0 70px 50px rgba(0, 181, 126, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(0, 181, 126, 0);
    box-shadow: 0 0 0 50px rgba(0, 181, 126, 0);
  }
}

@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }

  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(0, 181, 126, 0);
    box-shadow: 0 0 70px 50px rgba(0, 181, 126, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(0, 181, 126, 0);
    box-shadow: 0 0 0 50px rgba(0, 181, 126, 0);
  }
}

@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    white: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, 0%) scale(0.95);
  }

  50% {
    white: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, 0%) scale(1);
  }
}

@keyframes home_hero_item_hints_border {
  0%,
  100% {
    white: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, 0%) scale(0.95);
  }

  50% {
    white: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, 0%) scale(1);
  }
}

/* .-one-pulse{
  position: absolute;
  top: 20%;
  left: 30%;
}

.pulse-dot {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  @include border-radius(50%);
  background-image: url(../images/gradient.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(24, 160, 117, 0.4);
  animation: pulse-dot 2s infinite;
  @include transition(1s);
  
  &:hover {
    
    animation: none;
    &:after{
      content: '';
      display: block;
      width: 120px;
      height: 120px;
      top: 50%;
      margin: -60px;
      left: 30px;
      text-align: center;
      background-color: rgba(24, 160, 117, 0.562);
      position: absolute;
      z-index: -1;
      @include border-radius(50%);
    }
  }

}

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(24, 160, 117, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(24, 160, 117, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(24, 160, 117, 0);
  }
}

@keyframes pulse-dot {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(24, 160, 117, 0.4);
    box-shadow: 0 0 0 0 rgba(24, 160, 117, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 40px rgba(24, 160, 117, 0);
    box-shadow: 0 0 0 40px rgba(24, 160, 117, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(24, 160, 117, 0);
    box-shadow: 0 0 0 0 rgba(24, 160, 117, 0);
  }
} */
  
  .btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent; 
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
  
    
  
    &::after {
      transition:border 0.1s linear 0.05s;
    }
  
    .btn-inner {
      position: relative;
      z-index: 2;
    }
  
    &:hover {
      color: #373737;
      transition: color 0.1s linear 0s;
  
      &::before {
        top: 0;
        height: 100%;
        opacity: 1;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
      }
  
      &::after {
        white: #373737;
        transition:border 0.1s linear 0s;
      }
    }
  }
  
  .slideshow { 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  
    .slideshow-inner { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .slides { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  
    .slide { 
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
  
      &.is-active {
        display: block;
      }
  
      &.is-loaded{
        opacity: 1;
      }
  
      /* .caption { 
        padding: 0 100px;
      } */

      .image-slide{
        transition: opacity 0.3s ease;
      }
  
      .image-container{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 1;
        background-size: cover;
        image-rendering: optimizeQuality;
  
        /* &::before { 
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
        } */
      }
  
      .image {
        width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
  
      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
        /* display: flex;
        justify-content: center;
        align-items: center; */
      }
  
      .title { 
        font-size: 70px;
        font-family: 'proximaLight';
        line-height: 62px;
        span{
          font-family: 'proximaBold';
        }
      }

      .number{
        font-size: 70px;
        font-family: 'proximaBold';
      }
  
      .text {
        font-size: 14px;
      }

      @media(max-width: $screen-xs-max){
        .number{
          font-size: 50px;
          font-family: 'proximaBold';
          margin-top: 110px;
          display: block;
        }

       

      @media screen and (min-width: 300px)and (max-width: 350px) {
        .number{
          margin-top: 70px;
          display: block;
        }
      }

     
    
        .title { 
          font-size: 40px;
          line-height: 35px;
          padding-bottom: 15px;
        }
      }

      @media screen and (min-width: 1000px)and (max-width: 1024px) {
        .number{
          margin-top: 250px;
          display: block;
        }

        .title { 
          font-size: 35px;
          line-height: 30px;
        }

        .image-slide{
          display: none;
        }
        
      }

      @media screen and (min-width: 1300px)and (max-width: 1500px) {
        .title { 
          font-size: 50px;
          line-height: 40px;
        }
      }
  
      .btn {
        margin: 15px 0 0;
        white: #fff;
  
        &::before {
          background:#fff
        }
      }
    }
  
    .arrows {
      .arrow {
        position: absolute;
        bottom: 50px;
        cursor: pointer;
        z-index: 3;
      }
  
      .prev {
        left: 110px;
      }
  
      .next {
        left: 180px;
      }
  
      .svg {
        position: relative;
        left: 0;
        width: 14px;
        height: 26px;
        fill: #fff;
        transition: left 0.2s ease;
      }

      button {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 1em;
        padding: 1em 2em;
        box-shadow: 0;
        color: $white;
        font-size: inherit;
        font-weight: 700;
        position: relative;
        vertical-align: middle;
        outline: none!important;
      
        &::before, &::after {
          box-sizing: inherit;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      
      .spin {
        width: 60px;
        height: 60px;
        padding: 0;
      
        &:hover {
          color: $white;
        }
      
        &::before, &::after {
          top: 0;
          left: 0;
        }
      
        &::before {
          border: 1px solid transparent;
        }
      
        &:hover::before {
          border-top-color: $white;
          border-right-color: $white;
          border-bottom-color: $white;
          transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
        }
      
        &::after {
          border: 0 solid transparent;
        }
      
        &:hover::after {
          border-top: 1px solid $white;
          border-left-width: 1px;
          border-right-width: 1px;
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
          transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
          transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
          transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
        }
      }
      
      .circle {
        border-radius: 100%;
        box-shadow: none;
      
        &::before, &::after {
          border-radius: 100%;
        }
      }
      
      /* Page styling */
      
      .buttons {
        isolation: isolate;
      }
      
      @media(max-width: $screen-xs-max){
        .arrow {
          bottom: 10px;
        }
    
        .prev {
          left: 0px;
        }
    
        .next {
          left: 70px;
        }
      }
    }
  }

/*Menu full width*/
.button_container {
  position: fixed;
  top: 24px;
  right: 30px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  display: none;
  
  &:hover {
    opacity: .7;
  }
  
  span {
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $green-1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background-image: url(../images/bg-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 99;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }

  nav {
    font-size: 70px;
    font-family: 'proximaBold';
    line-height: 69px;
    margin-top: 80px;
    
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: inline-block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        margin: 0 40px 5px 0;
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
             
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $white;
          transition: .35s;
        }
      }
    }
  }

 

  #page-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

  .title-menu{
    color: $white;
    font-family: 'proximaLight';
    font-size: 50px;
    line-height: 42px;
    span{
      font-family: 'proximaBold';
    }
  }

  .text{
    color: $white;
    line-height: 19px;
  }

  footer{
    a{
      text-decoration: none!important;
    }
    .social{
      text-transform: uppercase;
      color: $white;
      font-family: 'proximaLight';
      letter-spacing: 3px;
      text-decoration: none;

    }

    .dev{
      color: $white;
      font-family: 'proximaLight';
      font-size: 14px;
      .kf-links{
        font-family: 'proximaBold';
        color: $white;
        text-decoration: none;
      }
    }
  }

  @media(max-width: $screen-xs-max){
    nav {
      font-size: 18px;
      line-height: initial;
      margin-top: 50px;
    }

    ul{
      li{
        display: block;
        min-height: 30px;
        a{
          svg{
              width: 14px!important;
          } 
        }
      }
    }

    .title-menu{
      font-size: 25px;
      line-height: 22px;
    }

    .text{
      margin: 0;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
  
section.about{
  margin-top: 50px;
  .title{
    color: $gray-dark;
    font-family: 'proximaLight';
    line-height: 28px;
  }

  .text{
    p{
      color: $gray-light;
    }
  }

  .slide{
    padding: 0;
    position: relative;
    .about-slide{
      cursor: grab;
      margin-left: 60px;
      .item{
        .image-slider{
          @include border-radius(35px);
        }
      }
    }

    .owl-nav{
      position: absolute;
      top: 50%;
      left: -25px;
      margin-top: -50px;
  
      .owl-prev{
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        display: block;
        background-color: $green-1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: 55px;
        @include border-radius(50%);
        svg{
          fill: $white;
        }
      }

      .owl-next{
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        display: block;
        background-color: $green-1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include border-radius(50%);
        svg{
          fill: $white;
        }
      }
    }

    @media(max-width: $screen-xs-max){
      padding: 15px;
      .about-slide{
        margin-left: initial;
      }

      .owl-nav{
        position: absolute;
        bottom: 60px;
        top: initial;
        left: 10px;
        margin-top: initial;
    
        .owl-prev{
          margin-top: initial;
          margin-left: 55px; 
        }
      }
    }
  }
}

section.video{
  margin-top: 50px;
  .video-popup{
    padding: 0;

    .thumbnail{
      .img {
        position: relative;
        
        .image-video{
          @include border-radius(0 50px 50px 0);
        }
        .play{
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 80px;
          background-color: $green-dark;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          text-align: center;
          list-style: 55px;
          @include border-radius(50%);

          svg {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            fill: $white;
            
          }
        }

        .pulse-button {
          border: none;
          box-shadow: 0 0 0 0 rgba(0, 181, 126, 0.7);
          @include border-radius(50%);
          cursor: pointer;
          -webkit-animation: pulse-play 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
          -moz-animation: pulse-play 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
          -ms-animation: pulse-play 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulse-play 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        }
        
        @-webkit-keyframes pulse-play {
          to {
            box-shadow: 0 0 0 45px rgba(0, 181, 126, 0);
          }
        }
        
        @-moz-keyframes pulse-play {
          to {
            box-shadow: 0 0 0 45px rgba(0, 181, 126, 0);
          }
        }
        
        @-ms-keyframes pulse-play {
          to {
            box-shadow: 0 0 0 45px rgba(0, 181, 126, 0);
          }
        }
        
        @keyframes pulse-play {
          to {
            box-shadow: 0 0 0 45px rgba(0, 181, 126, 0);
          }
        }
      }
    }

    @media(max-width: $screen-xs-max){
      .thumbnail{
        .img {
          .image-video{
            @include border-radius(0);
          }
  
          .play{
            width: 50px;
            height: 50px;
            list-style: 45px;
  
            svg {
              width: 18px;
              top: 50%;
              left: 50%;
              position: absolute;
              transform: translate(-50%, -50%);
              fill: $white;
            }
          }
        }
      }
    }
  }

  .right {
    right: 0;
  }

  .box-video{
    position: absolute;
    padding: 0;
    top: 50%;
    margin: -160px auto;
    .box{
      padding: 80px 80px;
  background-color: $green-dark;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      @include border-radius(35px 0 0 35px );

      .info{
        .title{
          color: $white;
          font-family: 'proximaLight';
          line-height: 37px;
        }
      }
    }
  }

  @media screen and (min-width: 1000px)and (max-width: 1024px) {
    .box-video{
      margin: -190px auto;
    }
  }

  @media(max-width: $screen-xs-max){
    .box-video{
      position: relative;
      top: -50px;
      margin: 0;
      padding: 15px;
      .box{
        padding: 40px;
        @include border-radius(35px);
        .info{
          .title{
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px)and (max-width: 1500px) {
    .box-video{
      margin: -146px auto;
      .box{
        .info{
          .title{
            font-size: 32px;
            line-height: 28px;
          }
        }
      }
    }
  }
}

section.simulator{
  margin-top: 80px;
 
  .simulator-ranged{
    .title{
      color: $gray-dark;
      font-family: 'proximaLight';
      line-height: 33px;
    }

    .typo, .list a {
      font-size: 18px;
      font-weight: 700;
      font-family: 'proximaBold';
      color: $gray-light;
      text-decoration: none;
      z-index: 2;
    }
    
    .typo option, .list a option {
      font-size: 14px;
    }
    
    .transition {
      transition: all .4s ease-in-out;
    }
    
    .wrapper {
      font-size: 18px;
    }
    
    .list {
      display: inline-block;
      position: relative;
      margin-left: 6px;
    
      ul {
        text-align: left;
        position: absolute;
        padding: 0 40px 0 0px;
        top: 0;
        left: 0;
        display: none;
        background-color: $white;
        z-index: 1;
    
        .active {
          display: block;
        }
      }
    
      li {
        list-style: none;
    
        &:first-child a {
          color: $green-1;
        }
      }
    
      a {
        transition: all .4s;
        color: $green-1;
        position: relative;
        white-space: nowrap;
    
        &:after {
          position: absolute;
          content: '';
          height: 2px;
          width: 0;
          left: 0;
          background: $green-1;
          bottom: 0;
          transition: all .4s ease-out;
        }
    
        &:hover {
          cursor: pointer;
          color: $green-1;
    
          &:after {
            width: 100%;
          }
        }
      }
    }
    
    select {
      display: inline;
      border: 0;
      width: auto;
      margin-left: 10px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-bottom: 2px solid $gray-dark;
      color: $green-1;
      transition: all .4s ease-in-out;
    
      &:hover {
        cursor: pointer;
      }
    
      option {
        border: 0;
        border-bottom: 1px solid $gray-dark;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
    
    .placeholder {
      border-bottom: 2px solid;
      cursor: pointer;
      color: $green-1;
    
      &:hover {
        color: $green-1;
      }
    }

    .typo-2, .list-2 a {
      font-size: 18px;
      font-weight: 700;
      font-family: 'proximaBold';
      color: $gray-light;
      text-decoration: none;
      z-index: 2;
    }
    
    .typo-2 option, .lis-2t a option {
      font-size: 14px;
    }
    
    .transition {
      transition: all .4s ease-in-out;
    }
    
    .wrapper-2 {
      font-size: 18px;
    }
    
    .list-2 {
      display: inline-block;
      position: relative;
      margin-left: 6px;
    
      ul {
        text-align: left;
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        display: none;
        background-color: $white;
    
        .active {
          display: block;
        }
      }
    
      li {
        list-style: none;
    
        &:first-child a {
          color: $green-1;
        }
      }
    
      a {
        transition: all .4s;
        color: $green-1;
        position: relative;
        white-space: nowrap;
    
        &:after {
          position: absolute;
          content: '';
          height: 2px;
          width: 0;
          left: 0;
          background: $green-1;
          bottom: 0;
          transition: all .4s ease-out;
        }
    
        &:hover {
          cursor: pointer;
          color: $green-1;
    
          &:after {
            width: 100%;
          }
        }
      }
    }
    
    select {
      display: inline;
      border: 0;
      width: auto;
      margin-left: 10px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-bottom: 2px solid $gray-dark;
      color: $green-1;
      transition: all .4s ease-in-out;
    
      &:hover {
        cursor: pointer;
      }
    
      option {
        border: 0;
        border-bottom: 1px solid $gray-dark;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
  

    .placeholder-2 {
      border-bottom: 2px solid;
      cursor: pointer;
      color: $green-1;
    
      &:hover {
        color: $green-1;
      }
    }



    /*Ranged*/
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #FFFFFF;
      border: 0px solid #FFFFFF;
      height: 1px;
      width: 1px;
      border-radius: 0px;
      background: #FFFFFF;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: 4px;
    }
    .ranged{
      position: relative;
      .title-ranged{
        text-transform: uppercase;
        font-family: 'proximaBlack';
        letter-spacing: 5px;
        position: absolute;
        top: 50%;
        left: -170px;
        z-index: -1;
        @include opacity(.2);
        @include rotate(-90deg);
      }

      .box-calc-valor {
        position: absolute;
        top: 50%;
        right: 60px;
        margin-top: -91px;

        .title-calc-valor{
          color: $gray-dark;
          font-family: 'proximaBold';
          line-height: 17px;
        }
        .bar{
          background-color: rgba(34, 34, 34, 0.493);
        }
        .aux-value{
          line-height: 20px;
          .mounth-valor{
            color: $gray-dark;
            font-family: 'proximaBold';
            font-size: 20px;
          }
          span{
            font-family: 'proximaLight';
            font-size: 16px;
          }
        }

        .aux-economy{
          @extend .aux-value;
        }
      }

      .range-slider {
        display: inline-block;
        width: 145px;
        position: relative;
        text-align: center;
        height: 400px;
        max-height: 100%;
        margin-top: 60px;
        
      
        &:before {
          position: absolute;
          top: -2em;
          left: 0;
          right: 0;
          margin: 0 auto;
          content: attr(data-slider-value) "";
          color: #5C5C5C;
          font-family: 'proximaBold';
          font-size: 20px;
        }
  
        &:after {
          content:"";
          position: absolute;
          bottom: 0;
          left: 45px;
          background-color: $gray-range;
          height: 400px;
          width: 60px;
          z-index: -1;
          @include border-radius(60px);
        }
      }
      
      .range-slider__thumb {
        position: absolute;
        left: 45px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background: white;
        color: #777;
        font-size: 50%;
        box-shadow: 0 0 20px 14px #18a0743b;
        @include border-radius(50%);
        pointer-events: none;
        cursor: pointer;
        z-index: 1;
      }
      
      .range-slider__bar {
        left: 45px;
        bottom: 0;
        position: absolute;
        /* background: linear-gradient(dodgerblue, blue); */
    background-color: $green-dark;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        pointer-events: none;
        width: 60px;
        @include border-radius(0 0 60px 60px);
        z-index: 1;
      }
      
      .range-slider input[type=range][orient=vertical] {
        position: relative;
        margin: 0;
        height: 100%;
        width: 100%;
        display: inline-block;
        position: relative;
        writing-mode: bt-lr;
        -webkit-appearance: slider-vertical;
      
        &::-webkit-slider-runnable-track, &::-webkit-slider-thumb {
          -webkit-appearance: none;
        }
      
        &::-webkit-slider-runnable-track, &::-moz-range-track {
          border: none;
          background: #343440;
          width: 8px;
          white: #343440;
          border-radius: 10px;
          box-shadow: 0 0 0 2px #3D3D4A;
        }
      
        &::-ms-track {
          border: none;
          background: #343440;
          width: 8px;
          white: #343440;
          border-radius: 10px;
          box-shadow: 0 0 0 2px #3D3D4A;
          color: transparent;
          height: 100%;
        }
      
        &::-ms-fill-lower, &::-ms-fill-upper, &::-ms-tooltip {
          display: none;
        }
      
        &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
          width: 30px;
          height: 30px;
          opacity: 0;
        }
      }

      @media screen and (min-width: 200px)and (max-width: 320px) {
        .title-ranged{
          display: none;
        }

        .box-calc-valor {
          margin-top: -91px;
  
          .title-calc-valor{
            line-height: 17px;
            font-size: 20px!important;
          }
          .aux-value{
            line-height: 20px;
            .mounth-valor{
              font-size: 20px;
            }
          }

          .bar{
            margin: 10px 0;
          }

          .aux-economy{
            line-height: 20px;
            .economy-valor{
              color: $gray-dark;
              font-family: 'proximaBold';
              font-size: 20px;
            }
          }
        }

        .range-slider {
          width: 65px;
          height: 250px;
          margin-bottom: 30px;
          margin-top: 20px;
          
        
          &:before {
            top: 50%;
            left: 3.9em;
            margin-top: 35px;
            @include rotate(-90deg);
          }
    
          &:after {
            content:"";
            left: 0px;
            height: 250px;
            width: 60px;
          }
        }
        
        .range-slider__thumb {
          left: 0px;
         
        }
        
        .range-slider__bar {
          left: 0px;
        }
      }

      @media screen and (min-width: 321px)and (max-width: 375px) {
        .title-ranged{
          display: none;
        }

        .box-calc-valor {
          .title-calc-valor{
            line-height: 20px;
            font-size: 25px;
          }
          .mounth-valor{
            font-size: 20px;
            line-height: 20px;
          }
        }

        .range-slider {
          width: 65px;
          height: 250px;
          margin-bottom: 30px;
          margin-top: 20px;
          
        
          &:before {
            top: 50%;
            left: 3.9em;
            margin-top: 35px;
            @include rotate(-90deg);
          }
    
          &:after {
            content:"";
            left: 0px;
            height: 250px;
            width: 60px;
          }
        }
        
        .range-slider__thumb {
          left: 0px;
         
        }
        
        .range-slider__bar {
          left: 0px;
        }
      }

      @media screen and (min-width: 376px)and (max-width: 414px) {
        .title-ranged{
          display: none;
        }

        .box-calc-valor {
          margin-top: -102px;
          .title-calc-valor{
            line-height: 25px;
            font-size: 30px;
            margin-bottom: 15px;
          }
          .mounth-valor{
            font-size: 30px;
            line-height: 20px;
          }
        }

        .range-slider {
          width: 55px;
          height: 250px;
          margin-bottom: 30px;
          margin-top: 20px;
          
        
          &:before {
            top: 50%;
            left: 3.9em;
            margin-top: 35px;
            @include rotate(-90deg);
          }
    
          &:after {
            content:"";
            left: 0px;
            height: 250px;
            width: 60px;
          }
        }
        
        .range-slider__thumb {
          left: 0px;
         
        }
        
        .range-slider__bar {
          left: 0px;
        }
      }
    }
  }

  .images-random{
    .photos-radom{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0  auto;
      width: 540px;
      z-index: 1;
      @media screen and (min-width: 1000px)and (max-width: 1024px) {
        width: 440px;
        z-index: -1;
      }
    }
  }

  .calc-range{
    padding: 0;
    .box-clean{
  background-color: $green-dark;
      background-size: cover;
      background-position: center right;
      background-repeat: no-repeat;
      padding: 90px;
      @include border-radius(35px 0 0 0);
      height: 100vh;
      @media screen and (min-width: 1000px)and (max-width: 1024px) {
        padding: 50px;
      }
      .title{
        color: $white;
        font-family: 'proximaLight';
      }
      .subtitle{
        color: $white;
        font-family: 'proximaLight';
      }

      .mounth-valor{
        color: $white;
        font-family: 'proximaBold';
        font-size: 40px;
        line-height: 20px;
        span{
          font-family: 'proximaLight';
          font-size: 18px;
          color: $white;
        }
      }

      .economy-valor{
        @extend .mounth-valor;
      }

      @media screen and (min-width: 1200px)and (max-width: 1400px) {
        .button-simulator{
          padding-top: 40px;
        }
      }
    }
  }

    @media(max-width: $screen-xs-max){
      margin-top: 0px!important;
    }

    @media screen and (min-width: 200px)and (max-width: 320px) {
    .simulator-ranged{
      .title{
        line-height: 26px;
        font-size: 30px;
      }
    }
    .calc-range{
      padding: 0;
      .box-clean{
        @include border-radius(35px 35px 0 0);
        padding: 40px;
        height: 100vh;
        .title{
          font-size: 25px;
        }
        .subtitle{
          font-size: 20px;
        }
        
        .mounth-valor{
          font-size: 30px;
          line-height: 17px;
          span{
            
            font-size: 18px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 321px)and (max-width: 375px) {
    .simulator-ranged{
      .title{
        line-height: 26px;
        font-size: 30px;
      }
    }
    .calc-range{
      padding: 0;
      .box-clean{
        @include border-radius(35px 35px 0 0);
        padding: 60px;
        height: 100vh;
        .title{
          font-size: 30px;
        }
        .subtitle{
          font-size: 25px;
        }
  
        .mounth-valor{
          font-size: 40px;
          line-height: 20px;
          span{
            font-size: 20px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 376px)and (max-width: 414px) {
    .simulator-ranged{
      .title{
        line-height: 26px;
        font-size: 30px;
      }
    }
    .calc-range{
      padding: 0;
      .box-clean{
        @include border-radius(35px 35px 0 0);
        padding: 60px;
        height: 100vh;
        .title{
          font-size: 30px;
        }
        .subtitle{
          font-size: 25px;
        }
  
        .mounth-valor{
          font-size: 40px;
          line-height: 20px;
          span{
            font-size: 20px;
          }
        }
      }
    }
  }
}

section.clic{
  background: url("../images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  .informations{
    position: relative;
    top: 180px;
    .hastag{
      position: absolute;
      left: -140px;
      top: -92px;
      letter-spacing: 20px;
      font-size: 120px;
      font-family: 'proximaBlack';
      text-transform: uppercase;
      @include opacity(.1);
    }

    .economy{
      background: url("../images/photo-clic.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      padding: 75px 50px;
      border: 0;
      @include border-radius(35px);

      .title{
        color: $white;
        font-family: 'proximaLight';
        line-height: 32px;
      }
    }

    @media(max-width: $screen-xs-max){
      top: 80px;
      .hastag{
        left: 0;
        top: -25px;
        letter-spacing: 6px;
        font-size: 33px;
      }

      .economy{
        .title{
          font-size: 30px;
          line-height: 26px;
        }
      }
    }

    .checklist{
      width: 100%;
      border: 0;
      position: relative;
      @include border-radius(35px);
      @include box-shadow(0px, 0px, 18px, rgba(0, 0, 0, 0.027));
      &:after{
        content: "";
        bottom: 0;
        right:  -20px;
        position: absolute;
        width: 400px;
        height: 500px;
        background-image: url(../images/men-clic.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      @media(max-width: $screen-xs-max){
        margin-top: 15px;
        &:after{
          display: none;
        }
      }
      .check{
        li{
          position: relative;
          &:after{
            font-family: 'Font Awesome 5 Free';
            font-size: 10px;
            content: "\f00c";
            font-weight: 900;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            position: absolute;

            top: 50%;
            left: -40px;
            margin: -15px auto;
            width: 30px;
            height: 30px;
            text-align: center;
            color: $white;
            line-height: 33px;
        background-color: $green-dark;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @include border-radius(50%);
          }
          p{
            color: $gray-dark;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
    }
  }

  .row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
  }
}

section.usina{
  margin-top: 210px;
  .card{
      border: 0;
      @include border-radius(35px);
      .card-img{
        @include border-radius(35px);
      }

      .card-img-overlay{
        padding: 50px 80px;
        .title{
          color: $white;
          font-family: 'proximaLight';
          line-height: 32px;
        }

        .description{
          color: $white;
          font-family: 'Open Sans', sans-serif;
          color: $white;
          font-size: 14px;
          width: 460px;
          max-width: 90%;
          float: left;
        }

        .button{
          float: right;
        }
      }
  }

  @media(max-width: $screen-xs-max){
    margin-top: 100px;
    .card{
      .card-img-overlay{
        padding: 40px 40px;

        .description{
          float: none;
          margin-bottom: 30px; 
        }

        .button{
          float: none;
        }
      }
    }
  }
}

section.faq{
  margin-top: 50px;
  
  .title{
    color: $gray-dark;
    font-family: 'proximaLight';
    line-height: 32px;
  }

  .informations-faq{
    padding: 0;
  }

  .faq-slide{
    margin-top: 30px;
    margin-left: 75px;

    .owl-nav{
      position: absolute;
      top: -50px;
      right: 380px;
      margin-top: -50px;
  
      .owl-prev{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 55px; 
        text-align: center;
        line-height: 50px;
        display: block;
        background-color: $green-1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include border-radius(50%);
        svg{
          fill: $white;
        }
      }

      .owl-next{
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        display: block;
        
        background-color: $green-1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include border-radius(50%);
        svg{
          fill: $white;
        }
      }
    }
  }

  .flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

.flip {
  position: relative;
  display: inline-block;
  width: 100%;
  .front{
    display: block;
    color: $white;
    width: inherit;
    border: 1px solid rgba(39, 39, 39, 0.082);
    min-height: 300px;
    padding: 1em 2.8em;
    border-radius: 10px;
    @include border-radius(35px);
    
    .title-front{
      color: $gray-dark;
      font-family: 'proximaBold';
      line-height: 22px;
    }
  }
  >.back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover!important;
    background-position: center!important;
    min-height: 300px;
    overflow-y: scroll;
    padding: 1em 2.8em;
    background-image: url(../images/photo-clic.jpg);
    @include border-radius(35px);
    &::-webkit-scrollbar-track {
      background-color: transparent;
      @include border-radius(35px);
    }
    
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
      @include border-radius(35px);
      box-shadow: none;
      background-color: transparent;
      border: 0;
    }
    .title-back{
      color: $white;
      font-family: 'proximaBold';
      line-height: 20px;
    }
    p {
      font-size: 14px;
      color: $white;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

  @media screen and (min-width: 1200px)and (max-width: 1500px) {  
    .informations-faq{
      padding: 0;
    }
  
    .faq-slide{
      margin-left: 15px;
      
      .owl-nav{
        right: 250px;
      }
    }
  }

  @media(max-width: $screen-xs-max){
    .informations-faq{
      padding: 15px;
    }
    
    .title{
      font-size: 30px;
      line-height: 28px;
    }
  
    .faq-slide{
      margin-left: 0;
      margin-top: 0;
      
      .owl-nav{
        position: relative;
        right: initial;
        left: 0;
        top: 66px;
      }
    }
  }
}

section.parthness{
  margin-top: 50px;
  .title { 
    font-family: 'proximaLight';
    line-height: 32px;
    color: $gray-dark;
  }
  @media(max-width: $screen-xs-max){
    margin-top: 150px;
  }

  a{
    img{
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      @include transition(.5s);
      &:hover{
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      }
    }
  }
}

section.contact{
  margin-top: 50px;
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 110px;
  @include border-radius(80px 80px 0 0);

  .title{
    font-family: 'proximaLight';
    line-height: 32px;
    color: $white;
  }

  form{
    .send{
      text-align: right;
    }
  }

  .footer{
    margin-top: 90px;
    padding-bottom: 30px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.404);

    .social-network{
      .social{
        color: $white;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: 'proximaLight';
        font-size: 14px;
      }
    }

    .copy{
      color: $white;
      font-family: 'proximaLight';
      text-align: right;
      a{
        font-family: 'proximaBold';
        color: $white;
        @include transition(.5s);
        &:hover{
          text-decoration: underline!important;
        }
      }
    }
  }

  @media(max-width: $screen-xs-max){
    @include border-radius(50px 50px 0 0);
    padding-top: 80px;
    .title{
      font-size: 30px;
      line-height: 27px;
    }

    .footer{
      .social-network{
        text-align: center;
        .social{
          display: none;
        }
      }
  
      .copy{
        text-align: center !important;
        margin-top: 10px;
      }
    }
  }
}



/* ======================================
              Login Screen
====================================== */
header.header-login{
  .navbar{
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          a{
            color: $gray-dark;
            font-family: 'Open Sans', sans-serif;
            #Capa_1{
              path{
                fill: $gray-dark!important;
              }
            }
          }

          .lang{
            color: rgba(8, 8, 8, 0.24)!important;
            text-transform: uppercase;
          }

          .active{
                color: $gray-dark!important;
          }
        }
      }
    }
  }


  .login{
    padding: 0;
    background-image: url(../images/bg-menu.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    @include border-radius(0 50px 50px 0);
  }

  .title-form{
    font-family: 'proximaLight';
    line-height: 32px;
  }

  .form-group.input-material .form-control{
    border-bottom: 1px solid $gray-dark;
  }

  .form-group.input-material label{
    color: $gray-dark;
  }

  .form-group.input-material .form-control:focus ~ label, .form-group.input-material .form-control[value]:not([value=""]) ~ label{
    color: $gray-dark;
  }

  .form-group.input-material .form-control:focus, .form-group.input-material .form-control[value]:not([value=""]){
    color: $gray-dark;
  }

  @media(max-width: $screen-xs-max){
    .login{
      height: 40vh;
      background-image: url(../images/city.jpg);
      @include border-radius(0);
    }
    .title-form{
      margin-top: 30px;
    }
    form{
      margin-bottom: 40px;
    }
  }
}


/* ======================================
            Register Screen
====================================== */
.register-body{
  background-image: url(../images/bg-contact.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
header.header-register{
  padding: 0;
  .navbar{
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          a{
            color: $white;
            font-family: 'Open Sans', sans-serif;
            #Capa_1{
              path{
                fill: $white!important;
              }
            }
          }

          .lang{
            color: rgba(255, 255, 255, 0.61)!important;
            text-transform: uppercase;
          }

          .active{
                color: $white!important;
          }
        }
      }
    }
  }


  .steps{
    display: none;
  }
  .step-number-title{
    color: $white;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .step-heading{
    color: $white;
    font-family: 'proximaLight';
    font-size: 40px;
    line-height: 38px;
  }

  .step-number{
    color: $white;
    .option{
      font-family: 'proximaBold';
      font-size: 40px;
      position: relative;
      top: 8px;
    }
  }

  label.required:after {
    content: '*';
    margin-left: 2px;
    color: $white; 
  }

  label.error:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    content: '\f071';
    right: 20px;
    top: 0;
    font-size: 13px;
    color: #ff1212;
  }

  input.error {
    border: 1px solid #ff1212;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
  }

  .form-group.input-material .form-control{
    color: $white;
  }

  .actions ul li a{
    background-color: $green-1;
    width: 110px;
    height: 40px;
    &:hover{
      background-color: $green-1;
      color: $white;
    }
  }

  .form-row .form-select{
    width: auto;
  }

  .custom-file-label::after{
    content: "Pesquisar";
  }

  .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 1px);
    padding: 0.375rem 0.75rem;
    color: $white;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $white;
}

.main {
  height: 100vh;
}

  @media(max-width: $screen-xs-max){
    .main {
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .step-number{
      float: none;
      .option{
        font-size: 25px;
        top: 3px;
      }
    }

    .step-heading{
      font-size: 37px;
    line-height: 31px;
    }
  }
  
}